body{
    padding: 0;
    margin: 0;
    background-color: (243, 244, 244, 1);
}
.navbar{
    background-color:plum;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    border-radius: 5px;
}
.navbar-img{
    height: 70px;
    padding: 5px;
    padding-left: 10px;
}
.navbar-title{
    font-size: 40px;
    color: white;
    margin-left: 15px;
    padding: 5px;
    font-weight: bold;
    font-family: cursive    ;
}
.navbar-menu{
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: -5px;
    padding: 10px;
    align-items: center;
}

.navbar-btn{
    
    
    color: black ;
    padding: 10px 15px;
    border-radius:  15px;
    font-size: 25px;
    margin: 8px;
}
.navbar-btn:hover{
    background-color: white;
    border: 2px solid grey;
    transition: 0.6s ease;
}
.Ourservice-1{
    
    border: 3px solid gray;
    border-radius: 10px;
    
}
.service-text1{
    text-align: center;
    font-family: sans-serif;
    color: plum;
    
}
.service-text2{
    text-align: center;
}
.service{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1px;
    flex-wrap: wrap;
    padding-left: 20px;

}
.service-card{
    background-color: rgb(236,239,240);
    border: 2px solid grey;
    width: 300px;
    padding: 5px;
    border-radius: 25px;
    margin:25px;
    margin-left: 25px;
    display: block;
    margin-top: 10px;

}
.service-card:hover{
    transform: scale(1.1);
    transition: 0.3s;  
    
}


.service-image{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.service-text{
    text-align: center;
}

.recipe-title{
    text-align: center;
}
.order-btn{
    border-radius: 2px solid rgb(167,4,4);
    border-radius: 20px;
    color: #d70909;
    background-color: azure;
    padding:10px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 90px;
    text-align: center;
}
.order-btn:hover{
    background-color:#d70909;
    color:azure;
    cursor:pointer;
    margin-left: auto;
}
    
.footer{
    background-color: plum;
    width: 1250px;
    padding: 5px;
    margin-top: 10px;
    bottom: 0%;
    border-radius: 10px;
}
.main-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;   
}
@media screen and(min-width:600px)and(max-width:768px){
    
}
.footer1{
    width: 200px;
    
}
.footer-text{
    font-size: 30px;
    font-family: serif;
    color: white;
}
.social{
    padding: 10px;
}
.text{
    font-size: 20px;
    padding: 5px;
}
.email1{
    border-radius: 15px;
    border: 2px solid white;
    margin: 5px;
}
