body{
    padding: 0;
    margin: 0;
    background-color: (243, 244, 244, 1);
}
.navbar{
    background-color:plum;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    border-radius: 5px;
}
.navbar-img{
    height: 70px;
    padding: 5px;
    padding-left: 10px;
}
.navbar-title{
    font-size: 40px;
    color: white;
    margin-left: 15px;
    padding: 5px;
    font-weight: bold;
    font-family: cursive    ;
}
.navbar-menu{
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: -5px;
    padding: 10px;
    align-items: center;
}
.navbar-btn{
    
    
    color: black ;
    padding: 10px 15px;
    border-radius:  15px;
    font-size: 25px;
    margin: 8px;
}
.navbar-btn:hover{
    background-color: white;
    border: 2px solid grey;
    transition: 0.6s ease;
}
.navbar-login{
     
    margin-bottom: -10px; 
    text-align: right;
    font-size: 25px;
}
.navbar-login:hover{
    background-color: white;
    border: 2px solid   grey;
    border-radius: 10px;

}
/* .navbar-login-btn{
    background-color: white;
    border: 2px solid   grey;
    color: black;
    padding: 5px 15px;
    border-radius:15px;
    font-size: 25px;
    margin-top: -20px; 
}
.header-container{ */
    display: flex;
    

.container-img{
    height: 600px;
    width:800px;
    margin-top: 5px;
    margin-left: 2px;
    border: 2px solid grey;
    border-radius: 15px;
}
.container-block{
    border: 3px solid gray;
    padding: 8px;
    border-radius: 15px;
    margin-top: 3px;
    
    background-image: url(../img/1969101.jpg);
    background-size: cover;
    height: 500px;
}
.container-text{
    font-family: cursive;
    width: 700px;
    margin: 8px;
    border-radius: 15px;
    color: white;
}
.container-text1{
    font-size: 50px;
    font-family: sans-serif;
    text-align:bottom;
}
.container-text2{
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
}
.bestseller{

}
.best-text1{
    font-size: 50px;
    margin-top:10px ;
    font-family: serif;
    margin-left: 20px;
    color:plum;
}
.best-text2{
    font-size: 20px;
    margin-top:10px ;
    font-family: serif;
    margin-left: 20px;
    color:rgb(8, 8, 8);
    text-align:start;
}
.bestseller-1{
    
    border: 3px solid gray;
    border-radius: 10px;
}
.best-seller-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
.Seller-card{
    background-color: rgb(236, 239, 240);
    border: 2px solid grey;
    width: 300px;
    padding: 5px;
    border-radius: 25px;
    margin: 10px;
    
    
}
.Seller-image{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.Seller-text1{
    text-align: center;
}
.Seller-text2{
    font-size: 15px;
}
.footer{
    background-color: plum;
    width: 1520px;
    padding: 5px;
    margin-top: 10px;
    bottom: 0%;
    border-radius: 10px;
}


.main-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;   
}
.footer1{
    width: 200px;
    
}
.footer-text{
    font-size: 30px;
    font-family: serif;
    color: white;
}
.social{
    padding: 10px;
}
.text{
    font-size: 20px;
    padding: 5px;
}
.email1{
    border-radius: 15px;
    border: 2px solid white;
    margin: 5px;
}
@media screen and (max-width:600px){
    .navbar{
        
        background-color: plum;
    }
    .navbar-container{
        margin-left: auto;
        margin-right: auto;

    }
    .navbar{
        
        
    }
    .navbar-menu{
        display: block;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        
    }
}

    


    

