body{
    padding: 0;
    margin: 0;
    background-color:i;
}
.navbar{
    background-image: url(../img/navbar2.jpg);
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    border-radius: 5px;
}
.navbar-img{
    height: 70px;
    padding: 5px;
    padding-left: 10px;
}
.navbar-title{
    font-size: 40px;
    color: white;
    margin-left: 15px;
    padding: 5px;
    font-weight: bold;
    font-family: cursive    ;
}
.navbar-menu{
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: -5px;
    padding: 10px;
    align-items: center;
}
.navbar-btn{
    
    
    color: black ;
    padding: 10px 15px;
    border-radius:  15px;
    font-size: 25px;
    margin: 8px;
    text-decoration: none;

}
.navbar-btn:hover{
    background-color: white;
    border: 2px solid grey;
    transition: 0.6s ease;
    padding: 5px;
}
.navbar-login{
     
    margin-bottom: -10px; 
    text-align: right;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.navbar-login:hover{
    background-color: white;
    border: 2px solid   grey;
    border-radius: 10px;
    padding: 5px;
    transition: 0.6s ease;

}
/* .navbar-login-btn{
    background-color: white;
    border: 2px solid   grey;
    color: black;
    padding: 5px 15px;
    border-radius:15px;
    font-size: 25px;
    margin-top: -20px; 
}
.header-container{ */
    display: flex;
    

.container-img{
    height: 600px;
    width:800px;
    margin-top: 5px;
    margin-left: 2px;
    border: 2px solid grey;
    border-radius: 15px;
}
.container-block{
    border: 3px solid gray;
    padding: 8px;
    border-radius: 15px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 10px;
    
    background-image: url(../img/1969101.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.container-text{
    font-family: cursive;
    width: 700px;
    margin: 8px;
    border-radius: 15px;
    color: white;
}
.container-text1{
    font-size: 50px;
    font-family: sans-serif;
    text-align:bottom;
}
.container-text2{
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
}
.best-seller{
    display: flex;
    flex-wrap: wrap;


}
.best-text1{
    font-size: 50px;
    margin-top:10px ;
    font-family: serif;
    margin-left: 600px;
    color:plum;
}
.best-text2{
    font-size: 20px;
    margin-top:10px ;
    font-family: serif;
    margin-left: 20px;
    color:rgb(8, 8, 8);
    text-align:start;
}
.bestseller-1{
    
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.best-seller-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1px;
    flex-wrap: wrap;
    padding-left: 20px;
    
}
.Seller-card{
    background-color: rgb(236, 239, 240);
    border: 2px solid grey;
    width: 300px;
    padding: 5px;
    
    border-radius: 25px;
    margin: 25px;
}
.Seller-text1{
    text-align: center;
}
.Seller-text2{
    text-align: justify;
    padding: 5px;
    
}
.Seller-card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.Seller-image{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.Seller-image:hover{
    
    border-radius: 15px;
    /* transform: scale(1.3); */

    

}
.review-text1{
    text-align: center;
}
.review-text2{
    font-size: 15px;
}

.review{
    display: flex;
    flex-wrap: wrap;


}
.review1-text1{
    font-size: 50px;
    margin-top:10px ;
    font-family: serif;
    margin-left: 600px;
    color:plum;
    text-align: center;
}
.review2-text2{
    font-size: 20px;
    margin-top:10px ;
    font-family: serif;
    margin-left: 20px;
    color:rgb(8, 8, 8);
    text-align:start;
}
.review-1{
    
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.review-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1px;
    flex-wrap: wrap;
    padding-left: 20px;
    
}
.review1-card{
    background-color: rgb(236, 239, 240);
    border: 2px solid grey;
    width: 300px;
    padding: 5px;
    
    border-radius: 25px;
    margin: 25px;
}
.review1-card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-image: url(../img/navbar2.jpg);
}
.review-image{
    margin-left: 70px;    
    border-radius: 50%;
}
/* .review-image:hover{
    
    border-radius: 15px;
    /* transform: scale(1.3); */

    


.review-text1{
    text-align: center;
}
.review-text2{
    font-size: 15px;
}
.review-text1{
    text-align: center;
}
.review-text2{
    text-align:justify;
    padding: 5px;
}
.footer{
    background-image:url(../img/navbar2.jpg);
    width: 1508px;
    padding: 5px;
    margin-top: 10px;
    bottom: 0%;
    border-radius: 10px;
}


.main-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;   
}
.footer1{
    width: 200px;
    
}
.footer-text{
    font-size: 30px;
    font-family: serif;
    color: white;
}
.social{
    padding: 10px;
}
.text{
    font-size: 20px;
    padding: 5px;
}
.email1{
    border-radius: 15px;
    border: 2px solid white;
    margin: 5px;
}
@media screen and (max-width:600px){
    .navbar{
        
        background-color: plum;
    }
    .navbar-container{
        margin-left: auto;
        margin-right: auto;
        width: 480px;

    }
    .navbar{
        
        
    }
    .navbar-menu{
        display: block;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }
    .footer{
        display: flex;
        
        margin-left: auto;
        margin-right: auto;
        width: 480px;
        flex-direction: row;
    }
    .main-content{
        flex-direction: column;

        
    }
    .footer-text{
        font-size: 30px;
        font-family: serif;
        color: white;
    }
    .review1-text1{
        font-size: 50px;
        margin-top:10px ;
        font-family: serif;
        margin-left: 10px;
        color:plum;
        text-align: center;
    }
    .best-text1{
        font-size: 50px;
        margin-top:10px ;
        font-family: serif;
        margin-left: 20px;
        color:plum;
    }
    
    
        
}

    


    

