body {
    background-color: white
}

.main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 1400px;
    height: 400px;
}

.sweets {
    border: solid 3px rgb(80, 72, 72);
    height: 360px;
    width: 300px;
    background-color: rgb(231, 227, 227);
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 100px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 2px 2px 5px 4px gray;

}

.sweetimg:hover {
    border-radius: 40px;
    box-shadow: 5px 5px 20px gray;
    transition: 0.3s;
    cursor: pointer;
}

.sweetimg {
    height: 250px;
    width: 300px;
    border-radius: 10px;
}

.h1 {
    text-align: center;
    font-size: 30px;
}

.sweetbutton {
    background-color: red;
    color: antiquewhite;
    font-size: 30px;
    border: darkred 2px solid;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}